* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.myIcon {
  fill: #1976d2 !important;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.myIcon:hover {
  filter: brightness(120%);
}

.modalButtonHolder {
  display: flex;
  justify-content: space-evenly;
}