.linksHolder {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1rem;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.linksHolder>a {
    color: #8a8a8a;
    text-decoration: none;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.linksHolder>a:hover {
    color: #000000;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}